.product-wrapper {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 250px;
  padding: 1rem;
  border-radius: 10px;
  border-style: dashed;
  border: 2px solid lightgray;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  box-shadow: 5px 5px 2px 2px var(--btn-color);
  border-style: dashed;
}
.product-wrapper:hover {
  box-shadow: none;
  transform: translateX(10px);
}

.product-wrapper img {
  height: 100%;
  width: 100%;
  transition: 200ms ease-in-out;
}

.product-wrapper img:hover {
  transform: scale(0.8);
}

.product-wrapper h2 {
  margin: 0.5rem;
}

.product-wrapper button {
  background-color: var(--btn-color);
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  margin: 1rem 0 auto 0;
}
