.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: 15px;
  background-color: #edf2f4;
}

.toll-free,
.contact-us_top__header {
  display: flex;
  gap: 0.5rem;
}
.contact-us_top__header {
  align-items: center;
  gap: 1rem;
}
.contact-us_top__header div > img {
  height: 15px;
}
.contact-us_top__header div {
  display: flex;
  padding: 0.7rem;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}
