*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --btn-color: #00b4d8;
  --bg-color: #023047;
}

body {
  max-width: 1200px;
  margin: auto;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
}
